$accent: #ca2c41;

// $body-bg: #40444c;
// $text-color: #fff;
// $profile-bg: #0e0e0e;

// purple
$body-bg: #F5EBC9;
$text-color: #f3dad7;
$profile-bg: #37055A;

// iPhone 6,7,8 (portrait)
$screen-xs-min: 325px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;