// brown
// $accent: #6393D2;
// $body-bg: #2e4ba8;
// $text-color: #8F8F8F;
// $profile-bg: #fff;

// purple
// $accent: #ca2c41;
// $body-bg: #F5EBC9;
// $text-color: #f3dad7;
// $profile-bg: #37055A;

// $accent: rgba(237, 212, 178, 1);
// $body-bg: rgba(208, 169, 143, 1);
// $profile-bg: rgba(77, 36, 61, 1);
// $text-color: rgba(236, 220, 201, 1);

$profile-bg: rgba(88, 139, 139, 1);
$text-color: rgba(255, 255, 255, 1);
$accent: rgba(255, 213, 194, 1);
$color4: rgba(242, 143, 59, 1);
$body-bg: #883134;

// iPhone 6,7,8 (portrait)
$screen-xs-min: 325px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;