@import './variables';
@import './mixins';

html {
    font-size: 16px;
}
body {
    font-family: Roboto, -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #0E0E0E;
    color: #eee;
    padding-top: 2rem;
}
a {
    color: $accent;
}
.person {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;
    &__photo {
        img {
            max-width: 250px;
        }
    }
    &__name {
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: .5rem;
    }
    &__header {
        padding: 1rem 0;
    }
    &__title {
        font-size: 1.125rem;
    }
    &__bio {
        @include font-size;
    }
    &__footer {
        padding: 2rem 0 1rem;
        .links__list {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .link__item {
            margin-left: 1rem;
            svg {
                fill: $accent;
            }
        }
    }
    .blank {
        display: none;
    }
}

@media (min-width: 768px) {
    body {
        background-color: $body-bg;
    }
    .person {
        grid-template-columns: auto minmax(min-content, 300px) 1fr auto;
        grid-template-rows: 30px repeat(3,auto) 10px;
        grid-column-gap: 3.5rem;
        text-align: left;
        max-width: 800px;
        padding: 2rem 0 0;
        &__photo {
            grid-column: 2/3;
            grid-row: 2/6;
            box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
            z-index: 2;
            img {
                max-width: 300px;
            }
        }
        &__header {
            grid-column: 3/4;
            grid-row: 2/3;
        }
        &__name {
            font-size: 3rem;
        }
        &__main {
            grid-column: 3/4;
            grid-row: 3/4;
        }
        &__footer {
            grid-column: 3/4;
            grid-row: 4/5;
            padding-bottom: 0;
            .links__list {
                justify-content: flex-start;
            }
        }
        .background {
            background-color: #0E0E0E;
            grid-column: 1/5;
            grid-row: 1/5;
            z-index: -5;
        }
    }
}
